<% include ./partials/header %>
       <h1>INDEX PAGE </h1>
       <% if ( !something ) { %>
              <div class="jumbotron heading">
                     <div class="container">
                            <h1>Your Posts Seems To Be Empty !! </h1>
                     </div>
                     
              </div>
              <div class="text-center">
                     <img class="ui centered circular" src="something.jpg" alt="">
              </div>
       <% } else { %>
              <div class="container"
   
	<div class="row"><br>

		<div class="jumbotron">
          <h1>These Are Your Blogs...</h1>
          <p>Total Size : <%= blogs.length  %></p>
          <!-- <p><a class="btn btn-primary btn-lg">Learn more</a></p> -->
        </div>
	</div>
	
</div>

            <div class="ui main text container segment">
                  <div class="ui huge header"> ThE UlTiMaTe bLOG aPP </div>
                    <div class="ui top attached segment">
                        <div class="ui divided items">
                        <!-- <% console.log ( "The size of the asdfasdfasdfs : " + blogs.length ) %> -->
                          <% blogs.forEach ( function ( blog ) { %>
                               <div class="item">
                                  <div class="image">
                                    <img src="<%= blog.image %>" alt="<%= blog.title %>" >
                                  </div>
                                  <div class="content">
                                      <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
                                      <div class="meta">
                                          <span><%= blog.created.toDateString() %></span>
                                      </div>
                                      <div class="description">
                                          <% if ( blog.body != undefined ) { %>
                                            <%= blog.body.substring ( 0 , 100 ) + "..." %>
                                          <% } %>
                                      </div>
                                      <div class="extra">
                                          <a class="ui secondary button" href="/blogs/<%= blog._id %>">Read More <i class="chevron icon"></i>
                                          </a>
                                      </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        <% } %> 
                    </div>
                </div>
            </div>
</body>
</html>

<% include ./partials/footer %>